<html>

<head>
    <style>
        .first-line {
            margin-bottom: 32px;
        }

        .name {
            font-weight: 700;
        }

        p,
        a {
            font-size: medium;
        }

        a {
            font-weight: 700;
        }

        .app-home,
        .mail-link {
            text-decoration: none;
        }

        .app-owner {
            font-weight: 700;
        }

        .note {
            opacity: 0.7;
        }
    </style>
</head>
<br>
<p class="first-line">Hi <span class="name">{{name}}</span>,</p>
<p>We have received a request to reset your password.</p>
<p>Please click the link below to reset your password.</p>
<a href="{{link}}">Reset Password</a>
<br>
<br>
<p>Wishing you good health &amp; happy learning! 😊</p>
<p class="app-owner">{{appOwner}}</p>
<p>Owner &amp; Developer, <a class="app-home" href="{{appHome}}">{{appName}}</a></p>
<br>
<p class="note">NOTE: You can ignore this email if this wasn't you. You can also contact us <a class="mail-link" href="mailto:{{appEmail}}">here</a> for any further queries.</p>
</body>

</html>